body {
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background-color: #ffffff;

  /* display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */
  overflow: hidden;
}

#header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: whitesmoke;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  z-index: 999;
}

#container {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
}

#modal {
  z-index: 999;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#modal .background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  opacity: 0.9;
}

.popup {
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 240px;
  background: white;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

.popup .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  height: 40px;
  color: white;
  background: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .message {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  /* height: 40px; */
  color: #333;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.popup .message .buttons-container {
  display: flex;
}

.ok,
.cancel {
  margin: 0 8px;
  text-align: center;
  font-size: 24px;
  background: #999;
  color: white;
  padding: 8px 12px;
  /* border-radius: 8px; */
  width: 120px;
  cursor: pointer;
}

/* ACCORDION */
/* (A) ACCORDION WRAPPER */
.awrap {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* (B) HEADER TAB */
/* (B1) TAB ITSELF */
.ahead {
  position: relative;
  cursor: pointer;
  padding: 6px 6px 4px 8px;
  background: #666;
  color: #fff;
  border-bottom: 2px solid #444;
}

.ahead.open {
  background: #222;
}

/* (B2) RIGHT ARROW */
/* .ahead:after {
  position: absolute;
  content: '\25b6';
  right: 10px;
  transition: transform 0.2s;
} */

/* (C) CONTENT TAB */
/* (C1) TAB ITSELF - CLOSED BY DEFAULT */
.abody {
  overflow: hidden;
  /* transition: all 0.2s ease-in-out; */
  max-height: 0;
  height: auto;
  background: whitesmoke;
  color: #333;
}

/* (C2) OPEN TAB - DOWN ARROW */
.ahead.open:after {
  transform: rotate(90deg);
}

/* (C3) OPEN TAB - SHOW CONTENT */
.ahead.open + .abody {
  max-height: 600px;
  padding: 12px;
  border: 1px solid #666;
  border-top: none;
}

/* (X) DOES NOT MATTER */
/* PAGE & BODY */
* {
  /* font-family: arial, sans-serif; */
  box-sizing: border-box;
}

/* WIDGET */
.widget-wrap {
  position: fixed;
  top: 60px;
  right: 20px;

  min-width: 250px;
  /* padding: 30px; */
  /* border-radius: 20px; */
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

.widget-wrap .tooltip {
  /* background: gray; */
  width: 100px;
  height: 36px;
  position: absolute;
  left: -100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #444;
}

#accordion {
  font-family: 'Roboto Condensed', sans-serif;
}

#menu-container {
  display: flex;
  /* box-shadow: 8px 8px rgba(0, 0, 0, 0.1); */
}

.button-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #333;
  cursor: pointer;
}

i {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 8px 0;
}

.menu-button {
  font-family: 'Roboto', sans-serif;
  /* padding: 6px 6px 4px 8px; */
  padding: 6px 0 4px 0;
  background: #333;
  /* width: 60px; */
  /* height: 40px; */
  display: none;
  flex: 1;
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  user-select: none;
  cursor: pointer;
}

#add {
  background: #666;
}

input {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}
.input-box {
  padding-bottom: 4px;
}
.input-box-title {
  font-size: 14px;
}
.button-add {
  cursor: pointer;
  color: whitesmoke;
  background: #444;
  margin-top: 4px;
  padding: 4px 6px 4px 6px;
  display: inline-block;
  border-radius: 4px;
}

.input-box.empty {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mccb-unit .pole {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.input-pole {
  margin: 0 6px 0 12px;
  cursor: pointer;
}
